@using TTNChieuT5.Models;
@model List<SanPham>
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}
<div class="banner">
    <img class="mySlides" src="~/Assets/User/images/slider-11.jpg" style="width: 1300px; height: auto; ">
    <img class="mySlides" src="~/Assets/User/images/slider-22.jpg" style="width: 1300px; height: auto;">
    <img class="mySlides" src="~/Assets/User/images/slider-33.jpg" style="width: 1300px; height: auto;">

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev"
       onclick="plusDivs(-1)">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" onclick="plusDivs(+1)">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    <!--//banner -->
</div>
<section class="banner-bottom-wthreelayouts py-lg-5 py-3">
    <div class="container-fluid">
        <div class="inner-sec-shop px-lg-4 px-3">
            <h3 class="tittle-w3layouts my-lg-4 my-4">Sản phẩm mới nhất </h3>
            <div class="row">
                <!-- /womens -->
                @{
                    foreach (var item in Model)
                    {
                        <div class="col-md-3 product-men women_two">
                            <div class="product-googles-info googles">
                                <div class="men-pro-item">
                                    <div class="men-thumb-item">
                                        <img src="@Url.Content("~/images/"+ item.HinhAnh)" class="img-fluid" alt="">
                                        <div class="men-cart-pro">
                                            <div class="inner-men-cart-pro">
                                                <a href="@Url.Action("CTSanPham","SanPham", new {@ma = item.IDSanPham  } )" class="link-product-add-cart">Xem nhanh</a>
                                            </div>
                                        </div>
                                        <span class="product-new-top">Mới</span>
                                    </div>
                                    <div class="item-info-product">
                                        <div class="info-product-price">
                                            <div class="grid_meta">
                                                <div class="product_price">
                                                    <h4>
                                                        <a href="single.html">@item.TenSanPham</a>
                                                    </h4>
                                                    <div class="grid-price mt-2">
                                                        <span class="money ">@item.Gia</span>
                                                    </div>
                                                </div>
                                                <ul class="stars">
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="googles single-item hvr-outline-out">
                                                
                                                    <button type="button" class="googles-cart pgoogles-cart">
                                                        <a href="@Url.Action("AddToCart1","Cart",new { @_IdSanPham = item.IDSanPham, @_url = Request.Url.ToString()})"><i class="fas fa-cart-plus"></i></a>
                                                    </button>
                                                

                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }

            </div>
            @Html.Partial("_PartialView")
        </div>
    </div>
</section>